:root {
    --brand-color: rgba(43, 127, 255, 1);
    --brand-color-dark: rgba(0, 0, 0, 1);
    --primary-color-dark: rgba(1, 28, 68,1);
    --primary-color-dark-border: rgba(1, 31, 74, 1);
    --primary-color-white: rgba(255, 255, 255, 1);
    --color-gray: rgba(116, 114, 114, 1);
}
/* Base */
body {
    color: var(--brand-color-dark);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Button */

.primary-button {
    background-color: var(--brand-color);
    color: var(--primary-color-white);
    height: 53px;
    border-radius: 32px;
    border: 2px solid var(--brand-color);
    cursor: pointer;
}

.primary-button:hover {
    color: black;
    background-color: transparent;
}

/* Link */
.link {
    color: var(--main-color-dark);
}
.link:hover {
    color: var(--brand-color);
}

/* Hero section */
.hero-title {
    color: var(--brand-color)
}

.section-title {
    color: var(--main-color-dark);
}

.section-title .accent {
    color: var(--brand-color);
}

.bold {
    font-weight: 800;
}

.policy {
    color: var(--color-gray);
}
.policy .link {
    text-decoration: underline;
}
.form-section {
    border: 4px solid var(--primary-color-dark-border);
    background: var(--primary-color-dark);
    color: var(--primary-color-white);
    width: 422px;
    height: 428px;
    border-radius: 32px;
}

footer {
    background-color: var(--primary-color-dark);
    color: var(--primary-color-white);
}