:root {
    --brand-color: rgba(43, 127, 255, 1);
    --brand-color-dark: rgba(0, 0, 0, 1);
    --primary-color-dark: rgba(1, 28, 68, 1);
    --primary-color-white: rgba(255, 255, 255, 1);
}
/* Base */
body {
    color: var(--brand-color-dark);
}

ul {
    list-style: none;
}

/* Button */

.primary-button {
    background-color: var(--brand-color);
    color: var(--primary-color-white);
    height: 53px;
    border-radius: 32px;
    border: 2px solid var(--brand-color);
    cursor: pointer;
}

.primary-button:hover {
    color: black;
    background-color: transparent;
}

/* Link */
.link {
    color: var(--main-color-dark);
    text-decoration: none;
}
.link:hover {
    color: var(--brand-color);
}

/* Hero section */
.hero-title {
    color: var(--brand-color)
}

.section-title {
    color: var(--main-color-dark);
}

.section-title .accent {
    color: var(--brand-color);
}

.bold {
    font-weight: 800;
}