* {
    box-sizing: border-box;
}

body,
body button {
    color: var(--color-title-blue);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
}

@media screen and (min-width: $bp-tablet) {
    body,
    body button {
        font-size: 18px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}