.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.play {
    font-family: Play, sans-serif;
    font-weight: 700;
    font-size: 64px;
    width: 550px;
    line-height: normal;
}

.accent {
    color: var(--brand-color);
}

.center {
    text-align: center;
    width: auto;
}

.bold {
    font-weight: 800;
}