.footer {
    background-color: var(--primary-color-dark);
    color: var(--primary-color-white);
    background-image: url(../images/footer_background.png);
    background-repeat: repeat-x;
    position: relative;
}

.footer::after {
    content: '';
    background-image: url(../images/decor-footer.png);
    width: 250px;
    height: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 56px 0;
    position: relative;
    z-index: 2;
}

.footer-container a {
    font-size: 16px;
}

.footer-container li {
    padding-bottom: 16px;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    width: 175px;
}

.address {
    flex-basis: 203px;
}

.footer-policy {
    font-size: 13px;
}

.footer-icons {
    fill: var(--primary-color-white);
}

.footer-icons:hover {
    fill: var(--brand-color);
}