.find-us {
    display: flex;
    justify-content: space-between;
    padding: 48px 0 94px 0;
    gap: 32px;

    & > .form-section {
            border: 4px solid var(--primary-color-dark-border);
            background: var(--primary-color-dark);
            color: var(--primary-color-white);
            border-radius: 32px;
            padding: 56px;
            max-width: 500px;
            text-align: center;
        }

    &__map-wraper > iframe {
        border-radius: 32px;
    }
}