.footer {
    background-color: var(--primary-color-dark);
    color: var(--primary-color-white);
    background-image: url(../images/footer_background.png);
    background-repeat: repeat-x;
    position: relative;

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        padding: 56px 0;
        position: relative;
        z-index: 2;
    }

    &__container a {
        font-size: 16px;
    }

    &__container li {
        padding-bottom: 16px;
    }

    &__social {
        display: flex;
        justify-content: space-between;
        width: 175px;
    }

    &__address {
        flex-basis: 203px;
    }

    &__policy {
        font-size: 13px;
    }

    &__icons {
        fill: var(--primary-color-white);
    }

    &__icons:hover {
        fill: var(--brand-color);
    }
}

.footer::after {
    content: '';
    background-image: url(../images/decor-footer.png);
    width: 250px;
    height: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
}