.hero-section {
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: right top;
    padding-top: 110px;

    &__container {
        padding: 17px 0 127px 106px;
    }

    &__title {
        color: var(--brand-color);
        font-size: 140px;
        line-height: 0.8;
        margin-bottom: 40px;
        font-family: Play, sans-serif;
    }

    &__text {
        font-size: 12px;
        padding-left: 20px;
        color: var(--color-title-gray);
    }
}
.play {
    font-family: Play, sans-serif;
    font-weight: 700;
    font-size: 64px;
    width: 550px;
    line-height: normal;
}

.accent {
    color: var(--brand-color);
}

.center {
    text-align: center;
    width: auto;
}

.bold {
    font-weight: 800;
}