.hero-section {
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    padding-top: 110px;

    @media screen and (min-width: $bp-tablet) {
        background-position: right top;
        height: 100%;
    }

    &__container {
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            padding: 17px 0 127px 106px;
            text-align: left;
        }
    }

    &__title {
        color: var(--brand-color);
        font-size: 54px;
        line-height: 0.85;
        margin-bottom: 35px;
        font-family: Play, sans-serif;

        @media screen and (min-width: $bp-tablet) {
            font-size: 140px;
            line-height: 0.8;
            margin-bottom: 40px;
            width: 200px;
        }
    }

    &__text {
        font-size: 11px;
        color: var(--color-title-gray);
        padding: 0 0 69px 20px;

        @media screen and (min-width: $bp-tablet) {
            font-size: 12px;
            padding-bottom: 0;
        }
    }
}