.section {
    padding: 0;
    position: relative;
    padding: 20px 0;

    @media screen and (min-width: $bp-descktop) {
        padding: 48px 0;
    }

    &__title {
        color: var(--main-color-dark);
        line-height: 1.1;
    }
}